{% extends "_base.html" %}
{% load static %}

{% block title %}Get Puddle Link from R-Code ID{% endblock title %}

{% block content %}
    <div id="rcode-text-info">
        <h2>Manual R-Code ID Input</h2>
        
        <p>Your ID can be found when you check your R-Code by looking in the bottom left corner for an 18-digit number. It is highlighted in <span class="img-highlight-colour">purple</span> in the following image:</p>
        <map name="rcode-id-map">
            <area shape="rect" coords="34,44,270,350" alt="Computer" href="Here!">
        </map>
        <img id="f7-screenshot" src="{% static "/img/r-code examples/F7-highlighted.png" %}" 
        alt="An image showing the R-Code from within an online room, with the R-Code ID highlighted" usemap="#rcode-id-map">
    </div>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Get my Puddle URL!">
    </form>
{% endblock content %}