{% extends "_base.html" %}

{% block title %}R-Code ID Not Found{% endblock title %}

{% block content %}
    <div id="no-id-info">
        <h2>R-Code ID not found</h2>
    
        <p>
            <i>Unfortunately</i>, computers are bad at reading and this one couldn't figure out what your ID is.
        </p>
        <p>
            <i>Fortunately</i>, puddle lets you <a href="https://puddle.farm/about#Find_page">type in the ID yourself</a> to get to your page. 
            I know, you're probably here to <i>not</i> do that, but variety is the spice of life.
        </p>
    </div>
{% endblock content %}